streamlit
langchain
langchain-community
langchain-core
langchain_groq
pypdf2
python-dotenv
sentence-transformers
faiss-cpu
numpy
matplotlib
seaborn
plotly
pymupdf
nltk
sendgrid
requests
beautifulsoup4
fpdf2
reportlab
